

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }


.custom-filter {
   width: 50%; float: right;

  }

  .custom-span {
    width: 50%; float: left;
  
   }

   .custom-toolbar {
    background-color: black; 
    color: white; 
  
  }